body {
  padding: 2%;
  font-family: sans-serif;
}
section {
  max-width: 40rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}
.wide {
  width: 100%;
}
iframe {
  width: 100%;
  height: 16rem;
}
a {
  color: #00f;
  text-decoration: none;
}
nav {
  margin: 1rem;
}
nav img {
  height: 4rem;
  padding-right: 1rem;
}
nav h3 {
  height: 2rem;
  display: inline-block;
  vertical-align: top;
}
h1 {
  font-size: 3rem;
}
li:not(:first-child) {
  padding-top: 0.5rem;
}
.boxes span,
.boxes b {
  display: inline-block;
  background-color: #ddf;
  padding: 0.5rem;
  margin: 0.25rem;
}
.grey span {
  background-color: #ddd;
}
.red span {
  background-color: #fdd;
}
.green span {
  background-color: #dfd;
}
.transparent {
  background-color: transparent !important;
}
.socials * {
  height: 2rem;
  display: inline-block;
  vertical-align: top;
  line-height: 2rem;
}
.socials span {
  margin-right: 1rem;
}
examples {
  font-family: monospace;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 1rem;
}